/* Media query para pantallas más grandes (por ejemplo, monitores de 24 pulgadas) */
/* Estilos base para ambos tamaños de pantalla */

.card {
  width: 20vw;
  height: 55vh;
  display: flex;
  /* background-color: #2f374c; */
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 8px;

  padding: 20px;
}
/* .sombra div {
  width: 100%;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
} */
.modif {
  box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.826);
  border: 3px solid #f73463;
}

/* En tu archivo CSS */
/* @keyframes pulse {
  0% {
    box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.5);
  }
}

.pulse {
  animation: pulse 2s infinite;
} */
#Estado {
  appearance: none; /* Ocultar el select nativo */
}
/* Media query para pantallas más grandes (por ejemplo, monitores de 24 pulgadas) */
.bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
  vertical-align: middle;
}
@media screen and (max-width: 1600px) {
  .card {
    width: 25vw;
    height: 65vh;
    padding: 10px;
  }
  .cont {
    padding-left: 0;
  }
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* adjust max-width as needed */
}
.tool {
  width: 20px !important;
}
.btn-raro {
  background-color: #f73464 !important;
}
.btn-raro:hover {
  background-color: #f7144d !important;
}
